.env
.DS_Store
__pycache__
*.log
android/.idea
android/local.properties
.gradle
backend/src/main/resources/kaikas.json

backend/src/main/resources/env.yml

backend/src/main/resources/keyring.json

backend/src/main/resources/abi.json
