apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitrank-redis
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: master
        image: redis
        ports:
        - containerPort: 6379
