<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragonguard.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.profile.ClientReposActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.profile.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.basic.TokenHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.search.SearchFilterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.ApprovalOrgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.AuthEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.AuthOrgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.RegistOrgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.SearchOrganizationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.compare.RepoCompareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.compare.RepoChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.compare.CompareSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.search.RepoContributorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ranking.MyOrganizationInternalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.CriterionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.FaqActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.basic.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github-auth"
                    android:scheme="gitrank" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.basic.LoadingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.basic.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
    </application>

</manifest>