global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093
rule_files:
    - "alert_rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
    - targets: ['prometheus:9090']

  - job_name: 'backend'
    scrape_interval: 5s
    metrics_path: '/api/actuator/prometheus'
    static_configs:
    - targets: ['backend:8080']
